/* index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-custom-dark-blue {
    background-color: #201E43;
  }
  .bg-custom-blue {
    background-color: #134B70;
  }
  .bg-custom-light-blue {
    background-color: #6482AD;
  }
  .text-custom-grey {
    color: #EEEEEE;
  }
  .text-custom-muted-gold {
    color: #C5A46D;
  }
}
